* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

/*NAVBAR STARTS*/



/*make a shadow!!!*/

.wrapper {
    max-width: 956px;
    width: 100%;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.navbar_images {
    width: 25px;
    height: 25px;

}

.navbar_logo {}

.asap {
    padding: 8px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.header__wrapper__search {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;

}

.district {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 72px 8px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.btn {
    padding: 8px 15px;
}

.signin {
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.register {
    background: #262626;
    border-radius: 2px;
    color: white;
}

.buttons__login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Roboto';
    font-style: normal;
}

.header__wrapper__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    padding-right: 97px;
}


.search__form {
    box-sizing: border-box;
    margin-top: 42px;
    padding-bottom: 15px;

    border-bottom: 1px solid #757575;
}


.search__form__field {
    border: none;
    width: 300px;
    margin-left: 15px;
    font-family: 'Roboto';
}

/*Navbar ends*/



/*Main content starts*/

.main__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.main__wrapper__restaurants {
    padding-right: 6px;
}

.main__wrapper__header {

    margin-left: 30px;
    padding-bottom: 16px;
}

.main {
    padding-top: 56px;
}



.main__wrapper__restaurants__name {
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main__wrapper__restaurants__price {
    padding-top: 4px;
    font-size: 14px;
}

.main__wrapper__restaurants__prepTime {
    padding-top: 4px;
    padding-bottom: 36px;
    font-size: 13px;
}







/*Main content ends*/





/*Footer starts*/



.wrapper__footer {
    background-color: #262626;
}

.footer__logo {
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer__line {
    margin-bottom: 32px;
    color: #FFFFFF;
    ;
}

#footer__select__form {
    border: 2px solid #3B3B3B;
    padding: 12px 125px 12px 48px;
    background-color: #3B3B3B;
    color: white;
    margin-bottom: 33px;
}


.footer__span__hash {
    color: #49A144;
}

.footer__span {
    color: white;
    padding-bottom: 20px;
}

.footer__select {
    padding-bottom: 20px;
}

.footer__list__icon {
    list-style-type: none;
    display: flex;
    margin-bottom: 60px;
}



.footer__list__icon li i {
    margin-right: 20px;
    font-size: 30px;
}



.wrapper__footer__navbar {
    display: flex;
    justify-content: space-between;

}


.wrapper__footer li {

    list-style-type: none;
}

.ubereats {
    display: flex;
    padding-bottom: 22px;
}

.hash {
    color: #49A144;
}

.footer__ubereats {
    color: white;
}

.footer_list {
    padding-top: 7px;
}

.footer_list li {
    padding-bottom: 23px;
    color: #FFFFFF;
}


.footer__platforms {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}



.footer__platforms img {
    margin: 0 20px;
}



.footer__last__navbar li {
    color: #FFFFFF;
    margin-right: 30px;
}

.footer__last__list {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 40px;

}

.footer__last__navbar li::after {
    margin-right: 200px;
}


/*Footer ends*/







@media (max-width: 768px) {

    .header__wrapper{
        width: 768px;
    }


    
    .main__wrapper{
        justify-content: flex-start;
    }


    .img__responsive{
        width: 368px;
        height: 256px;
    }

  
}